<!DOCTYPE html>
<html>
<head>
	<title>Form Validations</title>
	<script type="text/javascript" src="script/angular.min.js"></script>
	<script type="text/javascript" src="script/angular.messages.min.js"></script>
</head>
<body ng-app='app' ng-controller="main">

<form name="info" ng-submit="go()" novalidate>


<b>First Name </b><br>
<input type="text" ng-model="fname" name="fname" ng-pattern="/[a-zA-z]/" ng-maxlength="10" ng-minlength="3" required>

<div ng-show="info.fname.$dirty&&info.fname.$invalid" ng-messages="info.fname.$error">
	<div ng-message="required">First name is required.</div>
	<div ng-message="pattern">First name should contain characters only.</div>
	<div ng-message="minlength">First name should be atleast 3 characters.</div>
<div ng-message="maxlength">First name should be atmost 10 characters.</div>
</div>
<br>
<br>
<br>
<input type="text" ng-model="lname" name="lname" ng-pattern="/[0-9]/" ng-maxlength="10" ng-minlength="3" required>

<div ng-show="info.lname.$dirty&&info.lname.$invalid" ng-messages="info.lname.$error">
	<div ng-message="required">First name is required.</div>
	<div ng-message="pattern">First name should contain numbers only.</div>
	<div ng-message="minlength">First name should be atleast 3 characters.</div>
<div ng-message="maxlength">First name should be atmost 10 characters.</div>
</div>

<input type="submit" value="submit" ng-disabled="info.$invalid"/>
	
<br>
<br>
<pre>
Validty?
Fname : {{info.fname.$valid}}
Lname : {{info.lname.$valid}}
Form  : {{info.$valid}}
</pre>
</form>
	
</body>


<script type="text/javascript">
	var app = angular.module('app', ['ngMessages']);
	app.controller('main', function($scope){
		console.log($scope.info);

		$scope.go=function(){
			alert('called');
			
		}
	})
</script>
</html>